.container-dashboard {
    position: relative;
    width: 100%;
}

.container-dashboard .main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 10vh;
    background-color: var(--white-color);
    transition: 0.5s;
}

.container-dashboard .main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.container-dashboard .main .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.container-dashboard .main .topbar  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.container-dashboard .main .topbar .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.container-dashboard .main .topbar .search label {
    position: relative;
    width: 100%;
}

.container-dashboard .main .topbar .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--black-color);
}

.container-dashboard .main .topbar .search label i {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.container-dashboard .main .topbar .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;    
}

.container-dashboard .main .topbar .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Card Boxed */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.cardBox .card .cardName {
    color: var(--black-color);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBox {
    font-size: 3.5rem;
    color: var(--black-color);
}

.cardBox .card:hover {
    background-color: var(--primary-color);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
    color: var(--white-color);
}


/* Details List */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details .recentCustomers {
    position: relative;
    display: grid;
    min-height: 350px;
    background-color: var(--white-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--primary-color);
}

.btn-view_all {
    position: relative;
    padding: 5px 10px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--white-color);
    border-radius: 5px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentCustomers table tr {
    color: var(--black-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentCustomers table tr:last-child {
    border-bottom: none;
}

.details .recentCustomers table tbody tr:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.details .recentCustomers table tr td {
    padding: 10px;
}

.details .recentCustomers table tr td:last-child {
    text-align: end;
}

.details .recentCustomers table tr td:nth-child(2) {
    text-align: center;
}

.details .recentCustomers table tr td:nth-child(3) {
    text-align: center;
}

.status.new {
    padding: 2px 4px;
    background-color: #2ce04a;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.ok {
    padding: 2px 4px;
    background-color: #e0832c;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.good {
    padding: 2px 4px;
    background-color: #a34aeb;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}


/* Recent Orders */
.recentOrders {
    position: relative;
    display: grid;
    min-height: 350px;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.recentOrders table tr:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.recentOrders table tr td {
    padding: 12px 10px;
}

.recentOrders table tr td i {
    font-size: 20px;
}

.recentOrders table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentOrders table tr td span {
    font-size: 14px;
    font-weight: 400;
}

.status.pending {
    padding: 2px 4px;
    background-color: #f9ca3f;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.delivered {
    padding: 2px 4px;
    background-color: #8de02c;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.canceling {
    padding: 2px 4px;
    background-color: #f00;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background-color: #1795ce;
    color: var(--white-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}