:root {
    /* Colors */
    --white-color: #fff;
    --black-color: #333;
    --grey-color: #d9d9d9;
    --primary-color: #6C63FF;

    /* Fonts */
        /* Font Family */
        --font-family: 'Poppins', sans-serif;

        /* Font Size */
        --fs-29: 2.9rem;
        --fs-12: 1.2rem;
        --fs-11: 1.125rem;
        --fs-09: 0.938rem;
}