:root {
    /* Colors */
    --white-color: #fff;
    --black-color: #333;
    --grey-color: #d9d9d9;
    --primary-color: #6C63FF;
    --scroll-bar-color: #e3e2e9;
    --scroll-thumb-color: #c8c6d2;

    /* Fonts */
        /* Font Family */
        --font-family: 'Poppins', sans-serif;

}