.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 31.25rem;
}

form{
	width: 22.5rem;
}

.login-content img{
    height: 6.25rem;
}

.login-content h2{
	margin: 0.938rem 0;
	color: var(--black-color);
	text-transform: uppercase;
	font-size: var(--fs-29);
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 1.563rem 0;
    padding: 0.313rem 0;
    border-bottom: 2px solid var(--grey-color);
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: var(--grey-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: 0.3s;
}

.input-div > div{
    position: relative;
	height: 2.813rem;
}

.input-div > div > h5{
	position: absolute;
	left: 0.625rem;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: var(--fs-11);
	transition: 0.3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -0.125rem;
	width: 0%;
	height: 0.125rem;
	background-color: var(--primary-color);
	transition: 0.4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -0.313rem;
	font-size: var(--fs-09);
}

.input-div.focus > .i > i{
	color: var(--primary-color);
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: var(--fs-12);
	color: #555;
	font-family: var(--font-family);
}

.input-div.pass{
	margin-bottom: 0.25rem;
}

.forgot-password {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: var(--fs-09);
	transition: 0.3s;
}

.forgot-password:hover{
	color: var(--primary-color);
}

.btn{
	display: block;
	width: 100%;
	height: 3.125rem;
	border-radius: 1.563rem;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #6C63FF, #7C80FF, #6C63FF);
	background-size: 200%;
	font-size: var(--fs-12);
	color: var(--white-color);
	font-family: var(--font-family);
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: 0.5s;
}

.btn:hover{
	background-position: right;
}