/* Import Helpers CSS */
@import url(./helpers/_reset.css);
@import url(./helpers/_variables.css);


/* Import Layout CSS */
    /* Login - SignUp Page */
    @import url(./layout/login/_login.css);
    @import url(./layout/login/_responsive.css);
    
    /* Forgot Password Page */
    
    /* Sidebar */
    @import url(./layout/sidebar/sidebar.css);

    /* Dashboard Page */
    @import url(./layout/dashboard/_dashboard.css);
    @import url(./layout/dashboard/_responsive.css);

    /* Admin Page */
    @import url(./layout/admin/_admin.css);
    @import url(./layout/admin/_responsive.css);

    /* Customer Page */
    @import url(./layout/customer/_customer.css);
    @import url(./layout/customer/_responsive.css);

    /* New Admin Page */
    @import url(./layout/newAdmin/_newAdmin.css);
    @import url(./layout/newAdmin/_responsive.css);

    /* New Customer Page */
    @import url(./layout/newCustomer/_newCustomer.css);
    @import url(./layout/newCustomer/_responsive.css);

    /* Orders Page */

    /* New Order Page */

    /* Search Page */

    /* Settings Page */